---
layout: framework
sidebar: tag-list
banner:
  video: null             # Video banner source
  loop: false              # Video loop
  volume: 1.0               # Video volume (100% is 1.0)
  start_at: 0             # Video start time
  image: null             # Image banner source
  opacity: 1.0            # Banner opacity (100% is 1.0)
  background: "rgba(0, 0, 0, 0.8)"  # Banner background (Could be a image)
  height: "300px"         # Banner default height
  min_height: null        # Banner minimum height
  heading_style: 
    font-weight: bold # Custom heading style (e.g. "font-weight: bold; text-decoration: underline")
    
  subheading_style: 
    color: greatgold  # Custom subheading style (e.g. color: gold)

---

{%- if site.posts.size > 0 -%}

  {%- include functions.html func='log' level='debug' msg='Get tags value' -%}
  {%- include functions.html func='get_tags' -%}
  {% assign tags = return %}

  {% assign keys = tags %}
  {% assign field = 'tags' %}
  {%- include views/segments.html -%}

{%- endif -%}
